<link rel="stylesheet" type="text/css" href="../registrousuario/registrousuario.component.css">
<app-nav></app-nav>


<div class="container">
    <section>

        <h5>Registro de usuario</h5>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="d-flex flex-row bd-highlight mb-3">
                <input class="text" type="text" class="form-control" formControlName="nombres" placeholder="Nombres"style="width:250px;margin-right: 8px;">
        
                <div *ngIf="form.get('nombres').errors && form.get('nombres').touched">
                    <p *ngIf="form.get('nombres').hasError('required')" style="color: red;">
                      Es un campo requerido
                    </p><br>
                    <p *ngIf="form.get('nombres').hasError('maxlength')" style="color: red;">
                      Te pasaste,maximo deben de ser <br> 25 caracteres
                    </p>
                    <p *ngIf="form.get('nombres').hasError('minlength')" style="color: red;">
                      Te faltan caracteres,el minimo de <br> caracteres son 4
                    </p>
                    <p *ngIf="form.get('nombres').hasError('pattern')" style="color: red;">
                      Solo se admiten letras,no numeros<br> ni caracteres especiales
                    </p>
                  </div>
                
                <input class="text" type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos"style="width:250px">
                <div *ngIf="form.get('apellidos').errors && form.get('apellidos').touched">
                    <p *ngIf="form.get('apellidos').hasError('required')" style="color: red;">
                      Es un campo requerido
                    </p>
                    <p *ngIf="form.get('apellidos').hasError('maxlength')" style="color: red;">
                      Te pasaste,maximo deben de ser <br> 25 caracteres
                    </p>
                    <p *ngIf="form.get('apellidos').hasError('minlength')" style="color: red;">
                      Te faltan caracteres,el minimo de <br> caracteres son 4
                    </p>
                    <p *ngIf="form.get('apellidos').hasError('pattern')" style="color: red;">
                      Solo se admiten letras,no numeros<br> ni caracteres especiales
                    </p>
                  </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <input type="text" class="form-control" formControlName="documento" placeholder="Documento"pattern="[0-9]+" style="width:250px;margin-right: 8px;">
                <div *ngIf="form.get('documento').errors && form.get('documento').touched">
                    <p *ngIf="form.get('documento').hasError('required')" style="color: red;">
                      Es un campo requerido
                    </p>
                    <p *ngIf="form.get('documento').hasError('maxlength')" style="color: red;">
                      Te pasaste,maximo deben de ser <br> 15 caracteres
                    </p>
                    <p *ngIf="form.get('documento').hasError('minlength')" style="color: red;">
                      Te faltan caracteres,el minimo de <br> caracteres son 7
                    </p>
                    <p *ngIf="form.get('documento').hasError('pattern')" style="color: red;">
                      Error,solo se admiten <br> numeros en este campo
                    </p>
                  </div>
                          
                <input type="text" class="form-control" formControlName="telefono" placeholder="Telefono"pattern="[0-9]+" style="width:250px">
                <div *ngIf="form.get('telefono').errors && form.get('telefono').touched">
                    <p *ngIf="form.get('telefono').hasError('required')" style="color: red;">
                      Es un campo requerido
                    </p>
                    <p *ngIf="form.get('telefono').hasError('maxlength')" style="color: red;">
                      Te pasaste,maximo deben de ser <br> 10 caracteres
                    </p>
                    <p *ngIf="form.get('telefono').hasError('minlength')" style="color: red;">
                      Te faltan caracteres,el minimo de <br> caracteres son 7
                    </p>
                    <p *ngIf="form.get('telefono').hasError('pattern')" style="color: red;">
                      Error,solo se admiten <br> numeros en este campo
                    </p>
                  </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="Correo"style="width:250px">
                <div *ngIf="form.get('correo').errors && form.get('correo').touched">
                    <p *ngIf="form.get('correo').hasError('required')" style="color: red;">
                      Es un campo requerido
                    </p>
                    <p *ngIf="form.get('correo').hasError('maxlength')" style="color: red;">
                      Te pasaste,maximo deben de ser <br> 20 caracteres
                    </p>
                    <p *ngIf="form.get('correo').hasError('email')" style="color: red;">
                      Ingrese un email valido <br> 
                    </p>
                  </div>

                <input type="text" class="form-control" formControlName="ficha" placeholder="Ficha" pattern="[0-9]+" style="width:175px;margin-left: 8px;">
                <div *ngIf="form.get('ficha').errors && form.get('ficha').touched">
                    <p *ngIf="form.get('ficha').hasError('required')" style="color: red;padding-left: 10px;">
                      Es un campo requerido,<br>por favor llenelo correctamente
                    </p>
                    <p *ngIf="form.get('ficha').hasError('maxlength')" style="color: red;padding-left: 10px;">
                      Te pasaste,maximo deben de ser <br> 25 caracteres
                    </p>
                    <p *ngIf="form.get('ficha').hasError('minlength')" style="color: red;padding-left: 10px;">
                      Le faltan caracteres,minimo son 6 <br>  
                    </p>
                    <p *ngIf="form.get('ficha').hasError('pattern')" style="color: red;padding-left: 10px;">
                      Error,solo se admiten <br> numeros en este campo
                    </p>
                  </div>
  
                <input type="number" class="form-control" formControlName="edad" placeholder="Edad" pattern="[0-9]+"style="width:70px;margin-left: 8px;">
                <div *ngIf="form.get('edad').errors && form.get('edad').touched">
                    <p *ngIf="form.get('edad').hasError('required')" style="color: red;">
                      Es un campo requerido,<br>por favor llenelo correctamente
                    </p>
                    <p *ngIf="form.get('edad').hasError('max')" style="color: red;">
                      Te pasaste,la edad maxima es <br> de 60 años
                    </p>
                    <p *ngIf="form.get('edad').hasError('min')" style="color: red;">
                      Error,la edad minima es <br> de 14 años
                    </p>
                    <p *ngIf="form.get('edad').hasError('pattern')" style="color: red;">
                      Error,solo se admiten <br> numeros en este campo
                    </p>
                  </div>            
            </div>

            <div class="row g-3-">

                <div class="col-md-2" ng>
                    <label class="form-label">Tipo de persona</label>
                    <div class="input-group mb-2">
                        <select (change)="cambioRol()" formControlName="tipopersona" class="form-control">
                            <option value="Aprendiz">Aprendiz</option>
                            <option value="Funcionario">Funcionario</option>
                        </select>
                        <div *ngIf="form.get('tipopersona').errors && form.get('tipopersona').touched">
                            <p *ngIf="form.get('tipopersona').hasError('required')" style="color: red;">
                              Este campo es requerido
                            </p>
                          </div>
                    </div>
                </div>


                <div class="col-md-2">
                    <label class="form-label">Jornada</label>
                    <div class="input-group mb-2">
                        <select class="form-control" formControlName="jornada">
                            <option *ngFor="let jornadas of jornada" [ngValue]="jornadas">{{jornadas}}</option>
                        </select>
                        <div *ngIf="form.get('jornada').errors && form.get('jornada').touched">
                            <p *ngIf="form.get('jornada').hasError('required')" style="color: red;">
                              Por favor seleccione<br> una jornada
                            </p>
                          </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Programa</label>
                    <div class="input-group mb-2">
                        <select class="form-control" formControlName="idprograma">
                            <option *ngFor="let idprograma of idprogramas" [ngValue]="idprograma.id">{{idprograma.programa}}</option>
                        </select>
                        <div *ngIf="form.get('idprograma').errors && form.get('idprograma').touched">
                            <p *ngIf="form.get('idprograma').hasError('required')" style="color: red;">
                              Por favor seleccione un programa
                            </p>
                          </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Tipo de usuario</label>
                    <div class="input-group mb-2">
                        <select class="form-control" formControlName="tipouser">
                            <option *ngFor="let tipousers of tipouser" [ngValue]="tipousers">{{tipousers}}</option>
                        </select>
                        <div *ngIf="form.get('tipouser').errors && form.get('tipouser').touched">
                            <p *ngIf="form.get('tipouser').hasError('required')" style="color: red;">
                              Este campo es requerido
                            </p>
                          </div>
                    </div>
                </div>
            </div>

            <button type="submit"  class="btn btn-primary" style="height:40px ;">Registrar <i class="far fa-save"></i></button>
            <button type="submit" style="margin: 8px;"(click)="cancelar()" class="btn btn-danger">Cancelar <i class="fas fa-window-close"></i></button>
        </form>


        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </section>

</div>

<app-footer></app-footer>