<app-nav></app-nav>
<link rel="stylesheet" type="text/css" href="../perfil/perfil.component.css">
<div class="container">
    <section>

        <div class="formulario" *ngFor="let usuarios of usuario">
            <h2 class="card-title">Perfil</h2>
            <div class="card" style="width: 18rem;">
                <img src="{{usuarios.imagen}}" alt="" width="200" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{usuarios.nombres}} {{usuarios.apellidos}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button type="submit" style="margin: 8px;" class="btn btn-primary">Actualizar <i
                                class="far fa-save"></i></button>
                        <button type="submit" class="btn btn-success">Rutina <i class="fas fa-dumbbell"></i></button>
                    </li>
                    <li class="list-group-item"> <button type="submit" (click)="cambiarcontrasena()" style="margin: auto;width:fit-content;" class="btn btn-warning">Cambiar contraseña <i class="fas fa-key"></i></button></li>
                    <li class="list-group-item">Correo: {{usuarios.correo}}</li>
                    <li class="list-group-item">Edad: {{usuarios.edad}}</li>
                    <li class="list-group-item">Telefono: {{usuarios.telefono}}</li>
                </ul>
            </div>
        </div>


        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </section>

</div>

<app-footer></app-footer>