<link rel="stylesheet" type="text/css" href="../nav/nav.component.css">


<div class="container">
  <section>
    <div class="d-flex justify-content-around flex-wrap">

      <div>
        <img class="img-fluid" style="width: 180px; height: 150px; " src="../static/images/Logo_Sena.jpeg">
      </div>
      <div class="d-flex p-2 bd-highlight">
        <h1 class="c">Servicio Nacional de Aprendizaje
        </h1>
      </div>
      <div>
        <img class="img-fluid c" style="max-width: 280px; max-height: 120px;"
          src="../static/images/ministerio_trabajo.jpg">
      </div>
    </div>

  </section>
  <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight"><button type="button" class="btn btn-secondary btn-sm">Gym SENA</button>
    </div>
    <div class="p-2 bd-highlight">
      <nav class="navbar navbar-expand-lg navbar-light bg">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
              <form (click)="irIngresar()"><a class="nav-link">Usuarios</a></form>
            </li>
            <li class="nav-item">
              <form (click)="irSistema()"><a class="nav-link">Sistema</a></form>
            </li>

            <li class="nav-item">
              <form (click)="irRutinahome()"><a class="nav-link">Rutinas</a></form>
            </li>

            <li class="nav-item">
              <form (click)="irEjercicioshome()"><a class="nav-link">Ejercicios</a></form>
            </li>

            <li class="nav-item">
              <form (click)="irDietashome()"> <a class="nav-link">Dietas</a></form>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>
  <hr>
</div>

<div class="table-responsive" id="perfil">
  <div class="table">
    <table class="table">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight"><img class="img-fluid" alt="Responsive image" src="../static/images/persona.png"
            style="width: 110px; height: 110px;"></div>
        <div class="p-2 bd-highlight">
          <h2>Admin</h2>
          <button class="btn btn-primary" (click)="CerrarSession()" type="button">Cerrar Session <i
              class="fas fa-sign-out-alt"></i></button><br><br>
          <button class="btn btn-success" (click)="Verperfil()" type="button">Ver perfil <i
              class="fas fa-user-cog"></i></button><br>
        </div>

        <div class="p-2 bd-highlight">


          <div class="table-responsive">
            <div class="anuncio">
              <ngb-carousel *ngIf="anuncios">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="anuncios[0]" alt="Random first slide" width="500px" height="150px">
                  </div>
                  <div class="carousel-caption">
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="anuncios[1]" alt="Random second slide" width="500px" height="150px">
                  </div>
                  <div class="carousel-caption">
                  </div>
                </ng-template>

                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="anuncios[2]" alt="Random second slide" width="500px" height="150px">
                  </div>
                  <div class="carousel-caption">
                  </div>
                </ng-template>


                <ng-template ngbSlide *ngIf="anuncios.length==2">
                  <div class="picsum-img-wrapper">
                    <img [src]="anuncios[2]" alt="Random third slide" width="500px" height="150px">
                  </div>
                  <div class="carousel-caption">
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </table>
  </div>
</div>
<div class="container">
  <section>
    <hr><br>
  </section>
</div>