.btn {
font-weight: 500;
}
            
h5{
text-align: center;
color: orange;
}
        
.carta{
margin-top: -35px;
margin-bottom: -55px;
margin-left: -20px;
left: 10px;
text-align: center;
}

.spinner-border {
margin-left: 48%;
margin-top: 50px;
}