<app-nav></app-nav>
<link rel="stylesheet" type="text/css" href="../actulizarusuario/actulizarusuario.component.css">
<div class="container">
    <section>

        <table class="table">
            <div class="carta">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Actualizar Usuario</h5>
                        </div>
                    </div>
                </div>
            </div>
        </table>


        <table class="table" *ngIf="!registro">
            <div class="formulario">
                <form class="row g-3-" [formGroup]="form" (ngSubmit)="onSubmit()">


                    <div class="col-md-6">
                        <label class="form-label">Correo</label>
                        <input type="text" class="form-control" formControlName="correo">
                        <div *ngIf="form.get('correo').errors && form.get('correo').touched">
                            <p *ngIf="form.get('correo').hasError('required')" style="color: red;">
                              Es un campo requerido
                            </p>
                            <p *ngIf="form.get('correo').hasError('maxlength')" style="color: red;">
                              Te pasaste,maximo deben de ser <br> 20 caracteres
                            </p>
                            <p *ngIf="form.get('correo').hasError('email')" style="color: red;">
                              Ingrese un email valido <br> 
                            </p>
                          </div>
                    </div>


                    <div class="col-md-6">
                        <label class="form-label">Nombres</label>
                        <input type="text" class="form-control" formControlName="nombres">
                        <div *ngIf="form.get('nombres').errors && form.get('nombres').touched">
                            <p *ngIf="form.get('nombres').hasError('required')" style="color: red;">
                              Es un campo requerido
                            </p>
                            <p *ngIf="form.get('nombres').hasError('maxlength')" style="color: red;">
                              Te pasaste,maximo deben de ser <br> 25 caracteres
                            </p>
                            <p *ngIf="form.get('nombres').hasError('minlength')" style="color: red;">
                              Te faltan caracteres,el minimo de <br> caracteres son 4
                            </p>
                            <p *ngIf="form.get('nombres').hasError('pattern')" style="color: red;">
                              Solo se admiten letras,no numeros<br> ni caracteres especiales
                            </p>
                          </div>
                    </div>
                    

                    <div class="col-md-6">
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-control" formControlName="apellidos">
                        <div *ngIf="form.get('apellidos').errors && form.get('apellidos').touched">
                            <p *ngIf="form.get('apellidos').hasError('required')" style="color: red;">
                              Es un campo requerido
                            </p>
                            <p *ngIf="form.get('apellidos').hasError('maxlength')" style="color: red;">
                              Te pasaste,maximo deben de ser <br> 25 caracteres
                            </p>
                            <p *ngIf="form.get('apellidos').hasError('minlength')" style="color: red;">
                              Te faltan caracteres,el minimo de <br> caracteres son 4
                            </p>
                            <p *ngIf="form.get('apellidos').hasError('pattern')" style="color: red;">
                              Solo se admiten letras,no numeros<br> ni caracteres especiales
                            </p>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" formControlName="telefono">
                        <div *ngIf="form.get('telefono').errors && form.get('telefono').touched">
                            <p *ngIf="form.get('telefono').hasError('required')" style="color: red;">
                              Es un campo requerido
                            </p>
                            <p *ngIf="form.get('telefono').hasError('maxlength')" style="color: red;">
                              Te pasaste,maximo deben de ser <br> 10 caracteres
                            </p>
                            <p *ngIf="form.get('telefono').hasError('minlength')" style="color: red;">
                              Te faltan caracteres,el minimo de <br> caracteres son 7
                            </p>
                            <p *ngIf="form.get('telefono').hasError('pattern')" style="color: red;">
                              Error,solo se admiten <br> numeros en este campo
                            </p>
                          </div>
                    </div>


                    <div class="col-md-2">
                        <label class="form-label">Edad</label>
                        <input type="number" class="form-control" formControlName="edad">
                        <div *ngIf="form.get('edad').errors && form.get('edad').touched">
                            <p *ngIf="form.get('edad').hasError('required')" style="color: red;">
                              Es un campo requerido,<br>por favor llenelo correctamente
                            </p>
                            <p *ngIf="form.get('edad').hasError('max')" style="color: red;">
                              Te pasaste,la edad maxima es <br> de 60 años
                            </p>
                            <p *ngIf="form.get('edad').hasError('min')" style="color: red;">
                              Error,la edad minima es <br> de 14 años
                            </p>
                            <p *ngIf="form.get('edad').hasError('pattern')" style="color: red;">
                              Error,solo se admiten <br> numeros en este campo
                            </p>
                          </div>
                    </div>

                    <div class="col-md-6">
                        <br>
                        <div *ngIf="previsualizacion">
                            <img [src]="previsualizacion" alt="" width="100px" height="100px">
                        </div>
                    </div>

                    <div class="col-8"><br>
                        <button type="submit" style="margin: 8px;" class="btn btn-primary">Actualizar <i class="far fa-save"></i></button>
                        <button type="submit" (click)="cancelar()" class="btn btn-danger">Cancelar <i class="fas fa-window-close"></i></button>
                    </div>
                </form>
            </div>
        </table>
        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </section>

</div>

<app-footer></app-footer>
