<app-nav></app-nav>


<div class="container">

    <section>
        <table class="table">
            <div class="carta">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Actualizar rutinas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </table>


        <table class="table">
            <div class="formulario">
                <form class="row g-3-" [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="col-md-2">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>

                    <div class="col-md-1">
                        <label class="form-label">ID</label>
                        <input type="text" class="form-control" formControlName="id">
                    </div>


                    <div class="col-md-4">

                        <div class="tipo">
                            <label class="form-label">Intensidad</label>
                            <input type="text" class="form-control" formControlName="intensidad">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">Categoria</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="categoria">
                                <option *ngFor="let categoria of categoria" [ngValue]="categoria">{{categoria}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <label class="form-label">Dificultad</label>
                        <div class="input-group mb-10">
                            <select class="form-control" formControlName="dificultad">
                                <option *ngFor="let dificultad of dificultad" [ngValue]="dificultad">{{dificultad}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-11">
                        <div class="descripcion">
                            <label class="form-label">Descripcion</label>
                            <input type="text" class="form-control" formControlName="descripcion">
                        </div><br>
                    </div>

                    <table class="table">
                        <div class="carta">
                            <div class="row text-center">
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="card-body">
                                        <br>
                                        <h5 class="card-title">Actualizar ejercicios</h5>
                                        <br>
                                        <div *ngFor="let rutinas of rutinas">
                                         
                                            <button type="button" class="btn btn-info" (click)="ejercicio(rutinas.ejercicios)">Ver ejercicios <i class="fas fa-eye"></i></button>
                                            <div *ngFor="let ejercicios of ejercicios"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>

                    

                    <div class="col-md-2">
                        <div class="tipo">
                            <label class="form-label">Ejercicio</label>
                            <input type="text" class="form-control" formControlName="id_ejercicio">
                        </div>
                    </div>



                    <div class="col-md-2">
                        <label class="form-label">Repeticiones</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="repeticiones">
                                <option *ngFor="let repeticiones of repeticiones" [ngValue]="repeticiones">
                                    {{repeticiones}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-1">
                        <label class="form-label">Series</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="series">
                                <option *ngFor="let series of series" [ngValue]="series">{{series}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">Dia</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="dia">
                                <option *ngFor="let dia of dia" [ngValue]="dia">{{dia}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="tipo">
                            <label class="form-label">Ejecucion</label>
                            <input type="text" class="form-control" formControlName="ejecucion">
                        </div>
                    </div>


                    <div class="col-md-2" *ngIf="ejercicio2">
                        <div class="tipo">
                            <label class="form-label">Ejercicio</label>
                            <input type="text" class="form-control" formControlName="id_ejercicio2">
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio2">
                        <label class="form-label">Repeticiones</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="repeticiones2">
                                <option *ngFor="let repeticiones of repeticiones" [ngValue]="repeticiones">
                                    {{repeticiones}}
                                </option>
                            </select>
                        </div>
                    </div>



                    <div class="col-md-1" *ngIf="ejercicio2">
                        <label class="form-label">Series</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="series2">
                                <option *ngFor="let series of series" [ngValue]="series">{{series}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio2">
                        <label class="form-label">Dia</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="dia2">
                                <option *ngFor="let dia of dia" [ngValue]="dia">{{dia}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="ejercicio2">

                        <div class="tipo">
                            <label class="form-label">Ejecucion</label>
                            <input type="text" class="form-control" formControlName="ejecucion2">
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio3">
                        <div class="tipo">
                            <label class="form-label">Ejercicio</label>
                            <input type="text" class="form-control" formControlName="id_ejercicio3">
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio3">
                        <label class="form-label">Repeticiones</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="repeticiones3">
                                <option *ngFor="let repeticiones of repeticiones" [ngValue]="repeticiones">
                                    {{repeticiones}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-1" *ngIf="ejercicio3">
                        <label class="form-label">Series</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="series3">
                                <option *ngFor="let series of series" [ngValue]="series">{{series}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio3">
                        <label class="form-label">Dia</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="dia3">
                                <option *ngFor="let dia of dia" [ngValue]="dia">{{dia}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="ejercicio3">

                        <div class="tipo">
                            <label class="form-label">Ejecucion</label>
                            <input type="text" class="form-control" formControlName="ejecucion3">
                        </div>
                    </div>


                    <div class="col-md-2" *ngIf="ejercicio4">
                        <div class="tipo">
                            <label class="form-label">Ejercicio</label>
                            <input type="text" class="form-control" formControlName="id_ejercicio4">
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio4">
                        <label class="form-label">Repeticiones</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="repeticiones4">
                                <option *ngFor="let repeticiones of repeticiones" [ngValue]="repeticiones">
                                    {{repeticiones}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-1" *ngIf="ejercicio4">
                        <label class="form-label">Series</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="series4">
                                <option *ngFor="let series of series" [ngValue]="series">{{series}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio4">
                        <label class="form-label">Dia</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="dia4">
                                <option *ngFor="let dia of dia" [ngValue]="dia">{{dia}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="ejercicio4">

                        <div class="tipo">
                            <label class="form-label">Ejecucion</label>
                            <input type="text" class="form-control" formControlName="ejecucion4">
                        </div>
                    </div>


                    <div class="col-md-2" *ngIf="ejercicio5">
                        <div class="tipo">
                            <label class="form-label">Ejercicio</label>
                            <input type="text" class="form-control" formControlName="id_ejercicio5">
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio5">
                        <label class="form-label">Repeticiones</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="repeticiones5">
                                <option *ngFor="let repeticiones of repeticiones" [ngValue]="repeticiones">
                                    {{repeticiones}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-1" *ngIf="ejercicio5">
                        <label class="form-label">Series</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="series5">
                                <option *ngFor="let series of series" [ngValue]="series">{{series}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio5">
                        <label class="form-label">Dia</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="dia5">
                                <option *ngFor="let dia of dia" [ngValue]="dia">{{dia}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="ejercicio5">

                        <div class="tipo">
                            <label class="form-label">Ejecucion</label>
                            <input type="text" class="form-control" formControlName="ejecucion5">
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio6">
                        <div class="tipo">
                            <label class="form-label">Ejercicio</label>
                            <input type="text" class="form-control" formControlName="id_ejercicio6">
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio6">
                        <label class="form-label">Repeticiones</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="repeticiones6">
                                <option *ngFor="let repeticiones of repeticiones" [ngValue]="repeticiones">
                                    {{repeticiones}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-1" *ngIf="ejercicio6">
                        <label class="form-label">Series</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="series6">
                                <option *ngFor="let series of series" [ngValue]="series">{{series}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="ejercicio6">
                        <label class="form-label">Dia</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="dia6">
                                <option *ngFor="let dia of dia" [ngValue]="dia">{{dia}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="ejercicio6">

                        <div class="tipo">
                            <label class="form-label">Ejecucion</label>
                            <input type="text" class="form-control" formControlName="ejecucion6">
                        </div>
                    </div>

                    <div class="col-8">
                        <button type="submit" style="margin: 8px" class="btn btn-primary">Actualizar <i class="far fa-save"></i></button>
                        <button type="submit" (click)="cancelar()" class="btn btn-danger">Cancelar <i class="fas fa-window-close"></i></button>
                        <p>Los ejercicios deben ser visibles antes de actualizar</p>
                    </div>
                    <div class="col-8"><br>
                      
                    </div>

                </form>
            </div>
        </table>

        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </section>

</div>



























<app-footer></app-footer>