<app-nav></app-nav>

<link rel="stylesheet" type="text/css" href="../dietashome/dietashome.component.css">

<div class="container">

    <section>

        <table class="table">
            <div class="carta1">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Dietas disponibles</h5>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <button class="btn btn-primary" (click)="irAgregarDieta()" type="button">Agregar <i
                class="fas fa-plus-circle"></i></button>
        <button style="margin: 8px" class="btn btn-primary" (click)="GenerarReporte()" type="button">Descargar <i
                class="fas fa-file-download"></i></button>


        <div *ngIf="!tabladietas">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dieta of dietas">
                            <td>{{dieta.id}}</td>
                            <td>{{dieta.nombre}}</td>
                            <td>{{dieta.categoria}}</td>
                            <td>{{dieta.descripcion}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="eliminarDietaPorId(dieta.id)"><i class="fas fa-trash"></i></button>
                                <button type="button" class="btn btn-warning" style="margin: 8px"(click)="editarDietaPorId(dieta.id)"><i class="far fa-edit"></i></button>
                                <button class="btn btn-primary" (click)="asignarDietaPorId(dieta.id)" type="button"><i class="fas fa-user"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </section>

</div>

<app-footer></app-footer>