<app-nav></app-nav>

<link rel="stylesheet" type="text/css" href="../consultaejercicios/consultaejercicios.component.css">


<div class="container">
    <section>
        <table class="table">
            <div class="carta1">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Ejercicios disponibles</h5>
                        </div>
                    </div>
                </div>
            </div>
        </table>

        <button *ngIf="auth.isAdmin()|async" class="btn btn-primary" (click)="irAgregarEjercicios()"
            type="button">Agregar <i class="fas fa-plus-circle"></i></button>

        <div *ngIf="!tablaejercicios">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table  table-bordered table-striped row-border hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Imagen</th>
                            <th scope="col" *ngIf="auth.isAdmin()|async" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ejercicio of ejercicios">
                            <td>{{ejercicio.tipo}}</td>
                            <td>{{ejercicio.nombre}}</td>
                            <td>{{ejercicio.descripcion}}</td>
                            <td> <a href={{ejercicio.imagen}} target="_blank"><img src="{{ejercicio.imagen}}" alt=""
                                        width="200" height="100px"></a></td>
                            <td *ngIf="auth.isAdmin()|async"> <button class="btn btn-danger" style="margin: 8px"
                                    (click)="eliminarEjerciciosPorId(ejercicio.id)" type="button"><i
                                        class="fas fa-trash"></i></button>
                                <button class="btn btn-warning" (click)="editarEjerciciosPorId(ejercicio.id)"
                                    type="button"><i class="far fa-edit"></i></button>
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    </section>

</div>

<app-footer></app-footer>