<app-nav></app-nav>
<link rel="stylesheet" type="text/css" href="../usuarios/usuarios.component.css">
<div class="container">
    <section>
        <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="auth.isAdmin()|async">

            <div class="col" >
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Usuario</h5>
                        <button class="btn btn-primary" (click)="RegistrarUsuario()" type="button"><i
                                class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Entrada</h5>
                        <button class="btn btn-success" (click)="RegistrarEntrada()" type="button"><i
                                class="fas fa-door-open"></i></button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Salida</h5>
                        <button class="btn btn-warning" (click)="SalidaUsuarios()" type="button"><i
                                class="fas fa-door-closed"></i></button>
                    </div>
                </div>
            </div>


            <div class="col"  *ngIf="auth.isUser()|async">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Enviar sugerencias</h5>
                        <button class="btn btn-primary" (click)="EnviarSugerencias()" type="button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4"*ngIf="auth.isAdmin()|async">

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Consulta ingreso - salida</h5>
                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="ConsultarEntrada()" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Reporte Ingreso</h5>
                        <button class="btn btn-success" (click)="DescargarReporte()" type="button"><i class="fas fa-download"></i></button>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Reporte usuarios registrados</h5>
                        <button class="btn btn-success" (click)="DescargarReporteUsuarios()" type="button"><i class="fas fa-download"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table" *ngIf="auth.isAdmin()|async">
            <div class="carta1">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Usuarios registrados</h5>
                        </div>
                    </div>
                </div>
            </div>
        </table>

        <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ingresos y salidas del sistema</h5>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            aria-label="Exit">Cerrar</button>
                    </div>
                    <div class="modal-body">

                        <div *ngIf="ingreso.length>0">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Edad</th>
                                            <th scope="col">Documento</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Ficha</th>
                                            <th scope="col">Hora entrada</th>
                                            <th scope="col">Hora salida</th>
                                            <th scope="col">Jornada</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ingreso of ingreso">
                                            <td>{{ingreso.nombres}}</td>
                                            <td>{{ingreso.apellidos}}</td>
                                            <td>{{ingreso.edad}}</td>
                                            <td>{{ingreso.documento}}</td>
                                            <td>{{ingreso.fecha}}</td>
                                            <td>{{ingreso.ficha}}</td>
                                            <td>{{ingreso.horaentrada}}</td>
                                            <td>{{ingreso.horasalida}}</td>
                                            <td>{{ingreso.jornada}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<br>
        <div *ngIf="user.length>0">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Ficha</th>
                            <th scope="col">Programa</th>
                            <th scope="col">Jornada</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Tipo persona</th>
                            <th scope="col">Tipo usuario</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let users of user">
                            <td>{{users.nombres}}</td>
                            <td>{{users.apellidos}}</td>
                            <td>{{users.edad}}</td>
                            <td>{{users.documento}}</td>
                            <td>{{users.fecha | date:'mediumDate'}}</td>
                            <td>{{users.ficha}}</td>
                            <td>{{users.programa}}</td>
                            <td>{{users.jornada}}</td>
                            <td>{{users.telefono}}</td>
                            <td>{{users.tipopersona}}</td>
                            <td>{{users.tipouser}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="EliminarUsuario(users.documento)"><i class="fas fa-trash"></i></button>
                                <button type="button" class="btn btn-warning" style="margin: 8px"(click)="ActulizarUsuario(users.documento)"><i class="far fa-edit"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</div>
<app-footer></app-footer>