<app-nav></app-nav>

<link rel="stylesheet" type="text/css" href="../agregardietas/agregardietas.component.css">


<div class="container">
    <section>

        <table class="table">
            <div class="carta">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Registro de dietas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </table>


        <table class="table" *ngIf="!registro">
            <div class="formulario">
                <form class="row g-3-" [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="col-md-8">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Categoria</label>
                        <div class="input-group mb-3">

                            <select class="form-control" formControlName="categoria">
                                <option *ngFor="let categoria of categoria" [ngValue]="categoria">{{categoria}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-11">
                        <div class="descripcion">
                            <label class="form-label">Descripcion</label>
                            <input type="text" class="form-control" formControlName="descripcion" id="descripcion">
                        </div>
                    </div>

                    <div class="col-8"><br>
                        <button style="margin: 8px;" type="submit" class="btn btn-primary">Registrar <i class="far fa-save"></i></button>
                        <button type="submit" (click)="cancelar()" class="btn btn-danger">Cancelar <i class="fas fa-window-close"></i></button>
                    </div>
                    
                </form>
            </div>
        </table>


        <div *ngIf="!load" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    </section>

</div>
<app-footer></app-footer>